@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding: 0;
    font-family: "Mukta", sans-serif;
    overflow-x: hidden;
}

.container-fluid{
    padding-left: 0 !important;
}

/* Home page */

nav{
    width:100vw;
    background-color:rgba(3, 214, 45, 0.5) ;
}

main{
    width:100w;
}

.logo{
    position: relative;
    bottom: 15px;
}
.nav-item a{
    font-size:20px;
    color:black;
    font-weight:bold;
    padding-left:1em ;
    padding-right:1em ;
    transition: 1s;
    border-bottom: double 2px transparent;
}

.nav-item a:hover{
    color:white;
    text-shadow:5px 5px grey;
    border-bottom: double 2px white;
}

.active a{
    color:white;
    border-bottom: double 2px white;
}

#banner{
    background-image: url('https://c0dingforfun.github.io/kicksPics/Images/Home/Lime.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:50vw;
    height:500px;
    border-radius:100%;
}
.card img{
    width:100%;
}
.card{
    background-color: rgba(3, 214, 45) !important;
    color:whitesmoke;
}
.dark-btn{
    background-color:black;
    color:whitesmoke;
    padding:0.3em;
    transition:1s;
    border-radius: 10px;
}
.dark-btn:hover{
    background-color:white;
    color:black;
}
.confirm-btn{
    padding:0.3em;
    transition:1s;
    border-radius: 10px;
}
.confirm-btn:hover{
    background-color:black;
    color:white;
}
.circle{
    width:350px;
    height:350px;
    border-radius:50%;
    background-color: rgba(236, 236, 236, 0.808);
}

.bannertxt h1{
    font-size:5em;
    font-weight:bold;
    padding-left:20px;
    text-shadow:5px 5px rgba(145, 209, 96, 0.5);
}

.sizes > button{
    width:40px;
    height:40px;
    border:solid 2px black;
    border-radius: 10%;
    background-color: white;
    padding:1em;
    margin: 1em;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
    transition:1s;
}

.sizes > button:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px rgba(145, 209, 96, 0.5);
}

#trending {
    display: grid;
    grid-template-columns: repeat(minmax(400px, 1fr));
    place-items: center;
}

section{
    margin-top:10vh;
}

footer{
    margin:5vh;
}

/* Home page */


/* About page */

    .container-about{
        width: 100%;
        height:auto;
    }

    #welcome{
        height:400px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    
    #welcome2{
        height:400px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #welcome-img{
        background-image: url('https://c0dingforfun.github.io/kicksPics/Images/About/Green_Jordan.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        height:400px;
    }

    #about{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about_Us{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about h1{
        transform: rotate(180deg);
    }

    #about_Us h1{
        transform: rotate(0);
    }


    #lastImg{
        background-image: url('https://c0dingforfun.github.io/kicksPics/Images/About/Jordan.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        height:400px;
    }
        
/*  About Page*/
        
/* Contact page */
        #form{
            border:solid 2px black;
            width: 600px;
            height:500px;
            background-color: rgb(0,0,0,0.7);
            padding:2em;
        }
        textarea{
            width: 12vw;
        }
            
        .contact_btn{
            width: 60px;
            background-color: white;
            padding: 0.3em;
        }
/* Contact page *

/* Products page */
    .card-body button{
        width:100%;
    }

    #nike{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }
    
    #puma{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }

    #addidas{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }
    
    #filter input{
        width:25vw;
    }
    
    .products-img{
        display: grid;
        place-items: center;
    }
    
    .dropdown-center button{
        background-color:rgba(3, 214, 45, 0.5) ;
    }
    
    #products{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        margin-left:50px;
        margin-top: 50px;
        
    }
    #products button{
        --bs-btn-padding-x: 0.75rem !important;
        --bs-btn-padding-y: 0.375rem !important;
    }
/* Products page */
/* Login */
    #login_signup{
        border:solid 2px black;
        width: 400px;
        height:500px;
        background-color: rgb(0,0,0,0.7);
    }
    
    .login-button{
        background-color: white;
        width: 60px;
        transition: 1s;
        border-radius: 10%;
    }
    
    button a{
        color: black;
        text-decoration: none;
        transition: 1s;
    }
    button{
        transition: 1s;
    }
    button:hover, button a:hover{
        color: white;
        background-color: black;
        text-decoration: none;
        box-shadow: 3px 3px rgba(145, 209, 96, 0.5);
    }
    
    #signup{
        color:white;
        transition: 1s;
    }
    
    #signup:hover{
        color:gray;
    }
/* Login  */


/* Cart Page */
    #cart{
        display:grid;
        place-items: center;
    }
    .cart-container{
        width:300px;
        height:250px;
    }

/* Cart Page */

@media only screen and (max-width: 600px){
    
    nav{
        width:100vw;
        margin-right: 20px;
    }
    .nav-item a{
        font-size:20px;
        color:white;
        font-weight:bold;
        padding-left:1em ;
        padding-right:1em ;
        transition: 1s;
        border-bottom: groove 2px transparent;
    }
    .nav-item a:hover{
        color:green;
        text-shadow:5px 5px grey;
        border-bottom: groove 2px green;
    }
    #banner{
        width:90vw;
        height:400px;
    }
    #about{
        height:100px;
        background-color: black;
        color:white;
        writing-mode:horizontal-tb;
    }
    #welcome{
        position: relative;
        top:90px;
        height:230px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #welcome2{
        height:200px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #about_Us{
        height:100px;
        background-color: black;
        color:white;
        writing-mode:horizontal-tb;
    }

    #about h1{
        transform: rotate(0);
    }

    #welcome-img{
        height:230px;
    }

    #lastImg{
        height:200px;
    }

    #products{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(10px, 1fr) );
        gap:3em;
        place-items: center;  
    } 

}