@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Mukta", sans-serif;
}

/* Home page */

nav{
    background-color:rgba(3, 214, 45, 0.5) ;
}

.logo{
    position: relative;
    bottom: 15px;
}
.nav-item a{
    font-size:20px;
    color:black;
    font-weight:bold;
    padding-left:1em ;
    padding-right:1em ;
    transition: 1s;
    border-bottom: double 2px transparent;
}

.nav-item a:hover{
    color:white;
    text-shadow:5px 5px grey;
    border-bottom: double 2px white;
}

.active a{
    color:white;
    border-bottom: double 2px white;
}

#banner{
    background-image: url('https://c0dingforfun.github.io/kicksPics/Images/Home/Lime.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:500px;
}

.circle{
    width:350px;
    height:350px;
    border-radius:50%;
    background-color: rgba(236, 236, 236, 0.808);
}

.bannertxt h1{
    font-size:5em;
    font-weight:bold;
    padding-left:20px;
    text-shadow:5px 5px rgba(145, 209, 96, 0.5);
}

.sizes > button{
    width:40px;
    height:40px;
    border:solid 2px black;
    border-radius: 10%;
    background-color: white;
    padding:1em;
    margin: 1em;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
    transition:1s;
}

.sizes > button:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px rgba(145, 209, 96, 0.5);
}

#trending {
    display: grid;
    grid-template-columns: repeat(minmax(400px, 1fr));
    place-items: center;
}

section{
    margin-top:10vh;
}

#sales > div{
    width:300px;
    height:350px;
    border:double 2px grey;
    border-radius:10%;
    display:flex;
}

#explore > div{
    width:300px;
    height:350px;
    border:double 2px grey;
    border-radius:10%;
    display:flex;
}

#sports > div{
    width:300px;
    height:350px;
    border:double 2px grey;
    border-radius:10%;
    display:flex;
}

footer{
    margin:5vh;
}

/* Home page */


/* About page */

    .container-about{
        width: 100%;
        height:auto;
    }

    #welcome{
        height:400px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    
    #welcome2{
        height:400px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #welcome-img{
        background-image: url('https://c0dingforfun.github.io/kicksPics/Images/About/Green_Jordan.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        height:400px;
    }

    #about{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about_Us{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about{
        height:400px;
        background-color: black;
        color:white;
        writing-mode:vertical-rl;
    }

    #about h1{
        transform: rotate(180deg);
    }

    #about_Us h1{
        transform: rotate(0);
    }


    #lastImg{
        background-image: url('https://c0dingforfun.github.io/kicksPics/Images/About/Jordan.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        height:400px;
        }
        
/*  About Page*/
        
/* Contact page */
        textarea{
            width: 12vw;
        }
            
        .contact_btn{
            width: 60px;
            background-color: white;
        }
/* Contact page *

/* Products page */
    .card-body button{
        width:100%;
    }

    #nike{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }
    
    #puma{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }

    #addidas{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        place-items: center;
    }
    
    #filter input{
        width:25vw;
        
    }
    
    .products-img{
        display: grid;
        place-items: center;
    }
    
    .dropdown-center button{
        background-color:rgba(3, 214, 45, 0.5) ;
    }
    
    #products{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
        gap:3em;
        margin-left:50px;
        margin-top: 50px;
        
    }
/* Products page */
/* Login */
    #login_signup{
        border:solid 2px black;
        width: 400px;
        height:500px;
        background-color: rgb(0,0,0,0.7);
    }
    
    .login-button{
        background-color: white;
        width: 60px;
        transition: 1s;
        border-radius: 10%;
    }
    
    button a{
        color: black;
        text-decoration: none;
        transition: 1s;
    }
    button{
        transition: 1s;
    }
    button:hover, button a:hover{
        color: white;
        background-color: black;
        text-decoration: none;
        box-shadow: 3px 3px rgba(145, 209, 96, 0.5);
    }
    
    #signup{
        color:white;
        transition: 1s;
    }
    
    #signup:hover{
        color:gray;
    }
/* Login  */


/* Cart Page */
    #cart{
        display:grid;
        place-items: center;
    } 

/* Cart Page */

@media only screen and (max-width: 600px){

    .nav-item a{
        font-size:20px;
        color:white;
        font-weight:bold;
        padding-left:1em ;
        padding-right:1em ;
        transition: 1s;
        border-bottom: groove 2px transparent;
    }
    
    .nav-item a:hover{
        color:green;
        text-shadow:5px 5px grey;
        border-bottom: groove 2px green;
    }

    #sales > div{
        width:200px;
        height:250px;
        border:double 2px grey;
        border-radius:10%;
        display:flex;
    }
    
    #explore > div{
        width:200px;
        height:250px;
        border:double 2px grey;
        border-radius:10%;
        display:flex;
    }
    
    #sports > div{
        width:200px;
        height:250px;
        border:double 2px grey;
        border-radius:10%;
        display:flex;
    }

    #about{
        height:100px;
        background-color: black;
        color:white;
        writing-mode:horizontal-tb;
    }
    #welcome{
        position: relative;
        top:90px;
        height:230px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #welcome2{
        height:200px;
        background-color: lightgreen;
        color:white;
        font-size: 20px;
    }
    #about_Us{
        height:100px;
        background-color: black;
        color:white;
        writing-mode:horizontal-tb;
    }

    #about h1{
        transform: rotate(0);
    }

    #welcome-img{
        height:200px;
    }

    #lastImg{
        height:200px;
    }

    #products{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(10px, 1fr) );
        gap:3em;
        place-items: center;  
    } 

}


